<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Coffee Blent</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  
</head>

<body style="background: #fff;">
  <div align="center">
    <img src="../static/logosite13.jpeg" width="300px" class="img-fluid" alt="...">
    <br>
  <div  class="container">
      <h3>Análise de cadastro</h3>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict', Cliente = customers)}}"method="post">
    <div class="col-md-5">
    <label class="form-label">Cliente</label>
    <input type="text" name="customers" class="form-control" id="" aria-describedby="emailHelp">
    </div>
    <div class="col-md-5">
    <label for="" class="form-label">Protestos</label>
    <input type="text" name="protests" class="form-control" id="" aria-describedby="emailHelp">
    </div>
    <div class="col-md-5">
    <label for="" class="form-label">Valor total dos protestos</label>
    <input type="text" name="amount due" class="form-control" id="" aria-describedby="emailHelp">
    </div>
    <div class="col-md-5">
    <label for="" class="form-label">Valor da locação</label>
    <input type="text" name="rent amount" class="form-control" id="" aria-describedby="emailHelp">
    </div>
    <div class="col-md-5">
    <label for="inputState" class="form-label">Cidade</label>
    <select name ='city' id="inputState" class="form-select">
      <option value='city_1' selected>Sorocaba/Votoramtim</option>
      <option value='city_2' selected>Itu</option>
      <option value='city_6' selected>Campinas</option>
      <option value='city_4' selected>Indaiatuba</option>
      <option value='city_7' selected>São Roque</option>
      <option value='city_3' selected>Boituva</option>
      <option value='city_5' selected>Pilar do Sul</option>
      <option value='city_8' selected>Tatui</option>
    </select>
    </div>
    <div class="col-md-5">
    <label for="inputState" class="form-label">Comercio</label>
    <select name ='commerce' id="inputState" class="form-select">
      <option value='commerce_1' selected>Padaria</option>
      <option value='commerce_2' selected>Cafeteria</option>
      <option value='commerce_3' selected>Conveniencia</option>
      <option value='commerce_4' selected>Cabeleleiro</option>
      <option value='commerce_5' selected>Outro</option>
    </select>
    </div>

    <div class="col-md-5">
    <label for="inputState" class="form-label">Consumo de produtos</label>
    <select name ='consumes' id="inputState" class="form-select">
      <option value=1 selected>Vai consumir</option>
      <option value=2 selected>Não vai consumir</option>
    </select>
    </div>

    <div class="col-md-5">
    <label for="inputState" class="form-label">Equipamento</label>
    <select name ='equipment' id="inputState" class="form-select">
      <option value='equipment_1' selected>Máquina de grupo</option>
      <option value='equipment_2' selected>Máquina vending</option>
      <option value='equipment_3' selected>Máquina autómatica</option>
    </select>
    </div><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predição</button>
    </form>

   <br>
  
  </div>
  </div>
 </div>
 <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!--= Option 2: Separate Popper and Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    
</body>
</html>
